@*@model IEnumerable<FileUploadApp.ViewModels.FileUploadModel>*@
@model IEnumerable<FileUploadApp.Models.FileReference>


@{
    ViewData["Title"] = "Files List";
}

<h1>List of Uploaded Documents</h1>

<p>
    <a asp-action="Create">Upload New File/Document</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>File Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                <a asp-controller="Home" asp-action="Download" asp-route-id="@item.FilePath">Download</a>
            </td>
        </tr>
        }
    </tbody>
</table>
